body {
  background-color: white;
}

a {
  width: 33.33%;
  float: left;
  font-size: 12px;
  color: black;
  margin-bottom: 3.33%;
}

#skins {
}

#phrase {
  margin-bottom: 20px;
}

a:visited {
  color: black;
}

#logo {
  width: 100%;
}

.artwork {
  margin-bottom: 4px;
}

button {
  padding: 2%;
  margin: 2%;
  color: whitesmoke;
}